// Imports
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import "./components/layout/header";
@import "./components/layout/newProduct";
@import "./components/layout/feature";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-display: auto;
  overflow-x: hidden !important;
  background: $Black;
}
html {
  font-size: 0.813rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 5rem;
  line-height: 4.725rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  @include mobile {
    font-size: 3.5rem;
    line-height: 3.725rem;
    br {
      display: none;
    }
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: 0.094rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 0.072rem;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  letter-spacing: 0.125rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 2.063rem;
  letter-spacing: 0.106rem;
  text-transform: uppercase;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: $Medium-Gray;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
  padding: {
    top: 3%;
    bottom: 3%;
  }
  @include tablet {
    padding: {
      top: 7.5%;
      bottom: 7.5%;
    }
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
