@import "../helpers/mixins";
@import "../helpers/variable";

#feature {
  min-height: 50vh;
  background: $White;
  padding: 12.5% 10% 7.5% 10%;
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  button {
    @include button-3;
  }
  .fe-box {
    flex-basis: 31%;
    padding-top: 7.5rem;
    height: 50%;
    //cursor: pointer;
    //border: 2px solid red;
    background-color: $Gray;
    text-align: center;
    border-radius: 0.5rem;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50%, -50%);
      width: 50%;
      height: auto;
    }
  }
}

@include tablet {
  #feature {
    padding: 20% 2.5% 15% 2.5%;
    .fe-box {
      img {
        width: 75%;
        transform: translate(20%, -50%);
      }
    }
  }
}

@include mobile {
  #feature {
    padding-top: 40%;
    flex-direction: column;
    .fe-box {
      &:nth-child(2) {
        margin: 10rem 0;
      }
      flex-basis: 100%;
      width: 100%;
      img {
        width: 50%;
        transform: translate(50%, -50%);
      }
    }
  }
}
