@import "./variable";

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin newProduct-bg {
  background-image: url($image-hero-desktop);
  background-position: bottom right;
  @include background;
  @include tablet {
    background-image: url($image-hero-tablet);
  }
  @include mobile {
    background-image: url($image-hero-mobile);
    background-position: bottom center;
  }
}

@mixin button {
  padding: 1.25% 4%;
  text-transform: uppercase;
  cursor: pointer;
  @include tablet {
    width: 50%;
    padding: 3% 4%;
  }
  @include mobile {
    padding: 6%;
    width: 65%;
  }
}

@mixin button-1 {
  @include button;
  color: $White;
  background-color: $Primary;
  border-color: $Primary;
  font-weight: bold;
  &:hover {
    background-color: $Secondary;
    border-color: $Secondary;
  }
}

@mixin button-2 {
  @include button;
  color: $Black;
  background-color: $White;
  border-color: $Black;
  font-weight: bold;
  &:hover {
    background-color: $Black;
    border-color: $Black;
    color: $White;
  }
}

@mixin button-3 {
  @include button;
  color: $Light_Black;
  background-color: transparent;
  border-color: transparent;
  padding-right: 5rem;
  &:hover {
    color: $Primary;
    font-weight: bold;
  }
}

@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 578px) {
    @content;
  }
}
