@import "./variable";

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin newProduct-bg {
  background-image: url($image-hero-desktop);
  background-position: bottom right;
  @include background;
  @include tablet {
    background-image: url($image-hero-tablet);
  }
  @include mobile {
    background-image: url($image-hero-mobile);
    background-position: bottom center;
  }
}

@mixin button($y, $x) {
  padding: $y $x;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
  @include tablet {
    width: 50%;
    padding: 3% 4%;
  }
  @include mobile {
    padding: 6%;
    width: 65%;
  }
}

@mixin button-1 {
  @include button(1.25%, 4%);
  color: $White;
  background-color: $Primary;
  border-color: $Primary;
  &:hover {
    background-color: $Secondary;
    border-color: $Secondary;
  }
}

@mixin button-2 {
  @include button(1.25%, 4%);
  color: $Black;
  background-color: $White;
  border-color: $Black;
  &:hover {
    background-color: $Black;
    border-color: $Black;
    color: $White;
  }
}

@mixin button-3 {
  @include button(2%, 10%);
  color: $Medium-Gray;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  margin: 1rem 0;
  &::after {
    content: "";
    position: absolute;
    background: url(../../../assets/shared/desktop/icon-arrow-right.svg)
      no-repeat center / contain;
    top: 0;
    right: 10%;
    transform: translateY(55%);
    width: 1rem;
    height: 1rem;
  }
  &:hover {
    color: $Primary;
  }
}

@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 578px) {
    @content;
  }
}
