/* Colors */
$Primary: #d87d4a;
$Secondary: #fbaf85;
$Light_Black: #101010;
$Black: #000;
$White: #fff;
$Dark-Grey: #f1f1f1;
$Gray: #fafafa;

/* Bg-images */
$image-hero-desktop: "../../../assets/home/desktop/image-hero.jpg";
$image-hero-tablet: "url(../../../assets/home/tablet/image-header.jpg";
$image-hero-mobile: "url(../../../assets/home/mobile/image-header.jpg";